* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #000;
  color: #fff;
  font-family: 'Neue Montreal';
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(assets/bg.png) no-repeat 50% 50%;
  background-size: cover;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 1.5em;
}

nav > div {
  flex: 1;
}

.cta {
  text-align: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
}

a {
  text-decoration: none;
  color: #fff;
}

.hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 1.5em;
  width: 25%;
}

.hero h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}

.hero p {
  color: #a0a0a0;
  line-height: 1.5;
}

i {
  position: relative;
}

.overlay-toggle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 150px;
  margin: 0.75em;
  padding: 1em;
  border-radius: 0.5em;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  right: -110%;
  padding: 1em;
  flex: 1;
  background: #fff;
  color: #000;
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
